:root {
  /* PALETTE COLORI */
  --navbar-bg-color: #000000;
  --player-bg-color: #282828;
  --body-bg-color: #141922;
  --text-primary-color: #f3f3f3;
  --text-secondary-color: #5e5e5e;

  /* LAYOUT */
  --app-navbar-width: 250px;
  --top-bar-height: 100px;
  --player-height: 100px;

  /* GRID */
  --padding-grid: 5px;
  --margin-grid: -5px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-bg-color);
  color: var(--text-primary-color);
}

a {
  text-decoration: none;
  color: var(--text-primary-color);
}
img {
  width: 100%;
  display: block;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: var(--padding-grid);
  padding-right: var(--padding-grid);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--margin-grid);
  margin-right: var(--margin-grid);
}

.col {
  width: calc(100% / 6);
  padding: var(--padding-grid);
}

.card {
  padding: 5px;
  text-align: center;
  /* debug 
  min-height: 200px;
  background-color: gray;*/
}

/* APP TOP */

#app-top {
  height: calc(100vh - var(--player-height));
  display: flex;
}

/* APP NAVBAR */

#app-navbar {
  width: var(--app-navbar-width);
  background-color: var(--navbar-bg-color);
  color: var(--text-secondary-color);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 10px;
}

.logo-cont {
  width: 100%;
  padding: 4px;
}
.logo {
  width: 180px;
  margin-bottom: 20px;
}

.logo-small {
  width: 30px;
  display: none;
}

.navbar-link {
  display: flex;

  align-items: center;
  padding: 5px 0;
}

.mini-log {
  width: 30px;
  margin-right: 5px;
}

.mini-log-txt .select {
  color: var(--text-primary-color);
}

.mini-log-txt:hover {
  color: var(--text-primary-color);
}

.playlist {
  margin-top: 10px;
}

.navbar-link:hover .add-playlist {
  background-color: var(--text-primary-color);
}
.navbar-link:hover a {
  color: var(--text-primary-color);
}

.playlist h4 {
  color: var(--text-primary-color);
}

.add-playlist {
  width: 40px;
  height: 40px;
  background-color: var(--text-secondary-color);
  color: var(--navbar-bg-color);
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
  margin-right: 5px;
}

.nav-list ul {
  list-style: none;
}

#app-navbar li,
a {
  padding: 10px 0;
  color: var(--text-secondary-color);
}

.nav-list a:hover {
  color: var(--text-primary-color);
}

.navbar-foot {
  margin-top: auto;
}
.navbar-foot-download {
  font-size: 0.8rem;
  border-bottom: 2px solid var(--text-secondary-color);
}
.download {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.user-img {
  width: 25px;
  height: 25px;
  background-color: var(--text-secondary-color);
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.user-img img {
  object-fit: cover;
}

.navbar-foot-login span {
  color: var(--text-primary-color);
}

/* APP MAIN */

#app-main {
  flex-grow: 1;
}

#main-top-bar {
  height: var(--top-bar-height);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  border: 1px solid white;
  padding: 10px 25px;
  border-radius: 25px;
  margin-right: 15px;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--text-primary-color);
}

.btn:hover {
  font-size: 0.9rem;
}

#main-content {
  overflow: auto;
  height: calc(100% - var(--top-bar-height));
}

#main-content a:hover {
  color: var(--text-primary-color);
}

#main-content h5 {
  color: var(--text-secondary-color);
  padding: 10px 0;
}

#main-content ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#main-content li {
  padding: 10px 20px;
  font-weight: bold;
}

.card-img {
  position: relative;
}

.play-card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  font-size: 4rem;
  display: none;
}

.play-card i {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-img:hover .play-card {
  display: block;
  cursor: pointer;
}

h2 {
  padding-top: 30px;
  padding-left: 5px;
}

.container > h5 {
  margin-left: 5px;
}

h4 {
  padding-top: 10px;
}

.img-radius {
  border-radius: 50%;
}

/* APP PLAYER */

#app-player {
  background-color: var(--player-bg-color);
  color: var(--text-secondary-color);
  height: var(--player-height);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 20px;
}

.footer-left {
  display: flex;
  align-items: center;
  color: white;
  /* border: 1px dashed white; */
}

.footer-left-icon i {
  padding: 0 5px;
  color: var(--text-secondary-color);
}

.footer-left-icon i:hover {
  color: var(--text-primary-color);
}

.footer-img {
  width: 50px;
  min-width: 30px;
  margin-right: 10px;
}

.footer-left h6 {
  color: var(--text-secondary-color);
}

.footer-left h6:hover {
  color: var(--text-primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.footer-center {
  /* border: 1px dashed white; */
  text-align: center;
  min-width: 200px;
}

.footer-center-top {
  margin-top: 10px;
  margin-bottom: 15px;
}

.footer-center-top a {
  color: var(--text-primary-color);
  font-size: 1.6rem;
  padding: 10px;
}

.footer-center .fa-circle-play:hover {
  transform: scale(1.3);
}

.footer-center-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  color: white;
  font-size: 0.7rem;
}
.bar {
  width: 500px;
  height: 4px;
  background-color: gray;
  margin: 0 10px;
  border-radius: 25px;
  cursor: pointer;
}

.bar-middle {
  width: 25%;
  height: 4px;
  background-color: white;
  border-radius: 25px;
  position: relative;
}

.bar:hover .bar-middle {
  background-color: rgb(83, 207, 83);
}

.point {
  position: absolute;
  left: 100%;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--text-primary-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.bar:hover .point {
  display: block;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  /* border: 1px dashed white; */
  color: var(--text-primary-color);
}

.bar-volume {
  width: 80px;
  height: 3px;
  background-color: gray;
  border-radius: 25px;
  cursor: pointer;
}

.bar-volume-middle {
  width: 25%;
  height: 3px;
  background-color: white;
  border-radius: 25px;
  position: relative;
}

.bar-volume:hover .bar-volume-middle {
  background-color: rgb(83, 207, 83);
}

.bar-volume:hover .point {
  display: block;
}

/* ##### MEDIA QUERY ###### */

/* MODE  lg*/
@media screen and (max-width: 992px) {
  .col {
    width: calc(100% / 4);
  }
}

/* MODE md */
@media screen and (max-width: 768px) {
  .col {
    width: calc(100% / 2);
  }
}

/* MODE sm */
@media screen and (max-width: 576px) {
  :root {
    --app-navbar-width: 50px;
  }

  .nav-list,
  .playlist,
  .logo,
  .mini-log-txt,
  .name {
    display: none;
  }

  #app-navbar {
    padding: 5px;
  }

  .navbar-link {
    justify-content: center;
  }

  .logo-small {
    display: block;
  }

  .navbar-foot-download {
    border-bottom: none;
  }
}
