:root {
  /* PALETTE COLORI */
  --navbar-bg-color: #000000;
  --player-bg-color: #282828;
  --body-bg-color: #141922;
  --text-primary-color: #f3f3f3;
  --text-secondary-color: #5e5e5e;

  /* LAYOUT */
  --app-navbar-width: 250px;
  --top-bar-height: 120px;
  --player-height: 120px;

  /* GRID */
  --padding-grid: 15px;
  --margin-grid: -15px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-bg-color);
  color: var(--text-primary-color);
}

a {
  text-decoration: none;
  color: var(--text-primary-color);
}
img {
  width: 100%;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: var(--padding-grid);
  padding-right: var(--padding-grid);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--margin-grid);
  margin-right: var(--margin-grid);
}

.col {
  width: calc(100% / 6);
  padding: var(--padding-grid);
}

.card {
  padding: 15px;

  /* debug */
  min-height: 200px;
  background-color: gray;
}

/* APP TOP */

#app-top {
  height: calc(100vh - var(--player-height));
  display: flex;
}

/* APP NAVBAR */

#app-navbar {
  width: var(--app-navbar-width);
  background-color: var(--navbar-bg-color);
  color: var(--text-secondary-color);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 20px;
}

.logo-cont {
  width: 100%;
  padding: 4px;
}
.logo {
  width: 180px;
  margin-bottom: 20px;
}

.logo-small {
  width: 30px;
  display: none;
}

.navbar-link {
  display: flex;

  align-items: center;
  padding: 5px 0;
}

.mini-log {
  width: 30px;
  margin-right: 5px;
}

.playlist {
  margin-top: 10px;
}

.playlist h4 {
  color: var(--text-primary-color);
}

.add-playlist {
  width: 40px;
  height: 40px;
  background-color: var(--text-secondary-color);
  color: var(--navbar-bg-color);
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
  margin-right: 5px;
}

.nav-list ul {
  list-style: none;
}

#app-navbar li,
a {
  padding: 10px 0;
  color: var(--text-secondary-color);
}

.navbar-foot {
  margin-top: auto;
}
.navbar-foot-download {
  font-size: 0.8rem;
  border-bottom: 2px solid var(--text-secondary-color);
}
.download {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.user-img {
  width: 25px;
  height: 25px;
  background-color: var(--text-secondary-color);
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.user-img img {
  object-fit: cover;
}

/* APP MAIN */

#app-main {
  flex-grow: 1;
}

#main-top-bar {
  height: var(--top-bar-height);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  border: 1px solid white;
  padding: 10px 25px;
  border-radius: 25px;
  margin-right: 10px;
  font-size: 0.6rem;
  font-weight: bold;
}

#main-content {
  overflow: auto;
  height: calc(100% - var(--top-bar-height));
}

#main-content ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#main-content li {
  padding: 10px 20px;
}

h2 {
  padding-top: 30px;
}

/* APP PLAYER */

#app-player {
  background-color: var(--player-bg-color);
  height: var(--player-height);
}

/* ##### MEDIA QUERY ###### */

/* MODE  lg*/
@media screen and (max-width: 992px) {
  .col {
    width: calc(100% / 4);
  }
}

/* MODE md */
@media screen and (max-width: 768px) {
  .col {
    width: calc(100% / 2);
  }
}

/* MODE sm */
@media screen and (max-width: 576px) {
  :root {
    --app-navbar-width: 50px;
  }

  .nav-list,
  .playlist,
  .logo,
  .mini-log-txt {
    display: none;
  }

  #app-navbar {
    padding: 5px;
  }

  .navbar-link {
    justify-content: center;
  }

  .logo-small {
    display: block;
  }

  .navbar-foot-download {
    border-bottom: none;
  }
}
